###############################################################################
# 1. PLANTILLAS (TEMPLATES) PARA ÍCONOS Y MAPA
###############################################################################

define host {
    name                    procode-server
    use                     linux-server
    icon_image              server.png
    statusmap_image         server.png
    register                0
}

define host {
    name                    procode-pc
    use                     generic-host
    icon_image              mac40.png
    statusmap_image         mac40.png
    register                0
}

define host {
    name                    procode-switch
    use                     generic-switch
    icon_image              switch.png
    statusmap_image         switch.png
    register                0
}

define host {
    name                    procode-router
    use                     generic-switch
    icon_image              router.png
    statusmap_image         router.png
    register                0
}

define host {
    name                    procode-printer
    use                     generic-printer
    icon_image              printer.png
    statusmap_image         printer.png
    register                0
}

define host {
    name                    procode-ap
    use                     generic-switch
    icon_image              wifi.png
    statusmap_image         wifi.png
    register                0
}

###############################################################################
# 2. INFRAESTRUCTURA DE RED (Red: 192.168.1.0/27)
###############################################################################

# Switch Core (Conectado directamente al Servidor de Desarrollo, no lleva parent)
define host {
    use                     procode-switch
    host_name               switch-core
    alias                   Switch Administrable 1 - Core
    address                 192.168.1.2
}

define host {
    use                     procode-router
    host_name               router-empresarial
    alias                   Router Empresarial Procode
    address                 192.168.1.1
    parents                 switch-core
}

define host {
    use                     procode-ap
    host_name               ap-wlan
    alias                   Access Point WLAN
    address                 192.168.1.5
    parents                 switch-core
}

define host {
    use                     procode-switch
    host_name               switch-admin
    alias                   Switch Administrable 2 - Admin
    address                 192.168.1.3
    parents                 switch-core
}

define host {
    use                     procode-switch
    host_name               switch-dev
    alias                   Switch Administrable 3 - Dev
    address                 192.168.1.4
    parents                 switch-core
}

###############################################################################
# 3. SERVIDORES (Red: 192.168.1.0/27)
###############################################################################

# El servidor de desarrollo aloja Nagios (localhost en la práctica, pero se maqueta)
define host {
    use                     procode-server
    host_name               srv-desarrollo
    alias                   Servidor de Desarrollo (Nagios/Apache/MariaDB)
    address                 127.0.0.1 
}

define host {
    use                     procode-server
    host_name               srv-web-corp
    alias                   Servidor Web Corporativo
    address                 192.168.1.11
    parents                 switch-core
}

define host {
    use                     procode-server
    host_name               srv-produccion
    alias                   Servidor de Produccion
    address                 192.168.1.12
    parents                 switch-core
}

define host {
    use                     procode-server
    host_name               srv-hosting
    alias                   Servidor de Hosting
    address                 192.168.1.13
    parents                 switch-core
}

###############################################################################
# 4. EQUIPOS ADMINISTRACIÓN T.I. (Red: 192.168.1.0/27)
###############################################################################

define host {
    use                     procode-pc
    host_name               pc-ti-1
    alias                   PC Administracion T.I. 1
    address                 192.168.1.20
    parents                 switch-core
}

define host {
    use                     procode-pc
    host_name               pc-ti-2
    alias                   PC Administracion T.I. 2
    address                 192.168.1.21
    parents                 switch-core
}

###############################################################################
# 5. EQUIPOS ÁREAS ADMINISTRACIÓN E INVESTIGACIÓN (Red: 192.168.1.32/27)
# Conectados al switch-admin
###############################################################################

define host {
    use                     procode-pc
    host_name               pc-admin-1
    alias                   PC Administracion 1
    address                 192.168.1.33
    parents                 switch-admin
}
define host {
    use                     procode-pc
    host_name               pc-admin-2
    alias                   PC Administracion 2
    address                 192.168.1.34
    parents                 switch-admin
}
define host {
    use                     procode-pc
    host_name               pc-admin-3
    alias                   PC Administracion 3
    address                 192.168.1.35
    parents                 switch-admin
}
define host {
    use                     procode-pc
    host_name               pc-admin-4
    alias                   PC Administracion 4
    address                 192.168.1.36
    parents                 switch-admin
}
define host {
    use                     procode-pc
    host_name               pc-admin-5
    alias                   PC Administracion 5
    address                 192.168.1.37
    parents                 switch-admin
}

define host {
    use                     procode-pc
    host_name               pc-inv-1
    alias                   PC Investigacion 1
    address                 192.168.1.38
    parents                 switch-admin
}
define host {
    use                     procode-pc
    host_name               pc-inv-2
    alias                   PC Investigacion 2
    address                 192.168.1.39
    parents                 switch-admin
}
define host {
    use                     procode-pc
    host_name               pc-inv-3
    alias                   PC Investigacion 3
    address                 192.168.1.40
    parents                 switch-admin
}

###############################################################################
# 6. EQUIPOS ÁREA DESARROLLO (Red: 192.168.1.32/27)
# Conectados al switch-dev
###############################################################################

define host {
    use                     procode-pc
    host_name               pc-dev-1
    alias                   PC Desarrollo 1
    address                 192.168.1.41
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-2
    alias                   PC Desarrollo 2
    address                 192.168.1.42
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-3
    alias                   PC Desarrollo 3
    address                 192.168.1.43
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-4
    alias                   PC Desarrollo 4
    address                 192.168.1.44
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-5
    alias                   PC Desarrollo 5
    address                 192.168.1.45
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-6
    alias                   PC Desarrollo 6
    address                 192.168.1.46
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-7
    alias                   PC Desarrollo 7
    address                 192.168.1.47
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-8
    alias                   PC Desarrollo 8
    address                 192.168.1.48
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-9
    alias                   PC Desarrollo 9
    address                 192.168.1.49
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-10
    alias                   PC Desarrollo 10
    address                 192.168.1.50
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-11
    alias                   PC Desarrollo 11
    address                 192.168.1.51
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-12
    alias                   PC Desarrollo 12
    address                 192.168.1.52
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-13
    alias                   PC Desarrollo 13
    address                 192.168.1.53
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-14
    alias                   PC Desarrollo 14
    address                 192.168.1.54
    parents                 switch-dev
}
define host {
    use                     procode-pc
    host_name               pc-dev-15
    alias                   PC Desarrollo 15
    address                 192.168.1.55
    parents                 switch-dev
}

###############################################################################
# 7. IMPRESORAS LAN (Red: 192.168.1.32/27)
###############################################################################

define host {
    use                     procode-printer
    host_name               imp-admin-inv
    alias                   Impresora Admin e Investigacion
    address                 192.168.1.56
    parents                 switch-admin
}

define host {
    use                     procode-printer
    host_name               imp-dev
    alias                   Impresora Desarrollo
    address                 192.168.1.57
    parents                 switch-dev
}

define host {
    use                     procode-printer
    host_name               imp-ti
    alias                   Impresora Administracion TI
    address                 192.168.1.58
    parents                 switch-admin
}
